<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
float属性
	作用:
		1.将页面元素浮动起来(让块状元素左右排版)，使其能够向左或向右
		    排列;
                    属性值：left 元素本身向左浮动
                 right 元素本身向右浮动
       			 none(默认值)
        2.原理：
                         浮动元素将脱离默认的文档流，漂浮在默认的文档流之上；
                   浮动的元素会向左或向右移动,直到它的外边缘碰到父级元素
                   或这个元素之前的另一个浮动的元素的边框为止;

   		3.特点：
  		        一旦元素浮动起立了，就可以直接适用于css盒子模型属性;
                  不管元素如何浮动，始终以父级容器或它前面同一层次并且并列的元素
                  作为参考（和父元素对齐）;
                对内容的影响：
      	       尽管浮动的元素脱离了默认的文档流，但仍然会影响到默认文档流
      	 中的盒子里面的内容(图文),这些内容会给浮动元素留出占位;
 clear属性
            作用：规定元素的某一侧不允许存在浮动元素（消除其他浮动元素
                      对其产生的影响）
            值：
  		both 两侧不允许存在浮动元素
  		left 清除左侧的浮动元素
  		right 清除右侧的浮动元素
  		none 无清除效果 默认值
   	   说明：设置了clear 的元素将不再向前一浮动元素对齐，换行重新开始；
  
   解决网页中的“塌陷”问题
    如果父元素只包含了浮动元素 ，那么在未设置高度时，则父元素高度塌缩为零;
     1.创建一个用来清除浮动的css样式类（.clearfix）
     2.针对包裹的全是浮动元素的父级容器使用
     .clearfix{zoom:1}//IE浏览器的专用属性（针对IE）
     .clearfix:after{//伪对象选择符 （在这个对象被浏览器渲染后添加一定的内容）
       content:".";//添加内容写在这里的属性值 这个属性是专门配合伪类对象,必须写;
       display:block;//将添加的内容转换为块级元素
       visibility:hidden;//可视化属性；控制元素是否可见;无论是否可见，保留物理空间；和display属性不同;
       height:0;//将添加进去的内容的高度设置为0；消除其占位；
       clear:both;//将添加去的内容作为清除浮动的对象，实现外围对象中由内容存在，因此可以自动判断高度;
     }
	</body>
</html>
