<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
H5中的布局标签
   1.Html是具有语义化的语言,针对页面的布局,有一类标签代表各种意义的"布局盒子"；
   2.所有的布局标签都主要是用来构建页面的内容区域，是双标签类型，，默认显示为块状元素;
   3.<div>标签 布局（盒子）
   4.HTML5新增的常用的布局标签
       <header></header>页面/区域头部
       <footer></footer>页面/区域底部
       <nav></nav> 导航
       <section></section> 文档中的章节，区段，板块等（类似div，但主要针对文档区域）
       <aside></aside> 侧边栏
       <article></article> 文章/文档
    5.hmtl5的优势
        页面代码更加简单，高效
        新布局标签本身具有语义明确告知浏览器其在页面总的位置和结构意义，增强了对搜索引擎的友好性，提升SEO的价值;
    6.缺点
         老版本的浏览器不支持HTML5这类的布局标签,如IE8或更早的版本;
         从兼容的角度出发,目前多数任然使用<div>标签构建传统的布局;
	</body>
</html>
