<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
<style>
	.container{}
	.blog_container_aside{
		position: absolute;
		width: 300px;
	}
		.aside-box{
			background-color: #E1251B;
			height: 300px;
		}
	.main{
		margin-left: 310px;
		
	}
		.blog-content-box{
			background-color: #008000;
			height: 480px;
		}
</style>
<div class="container">
	<div class="blog_container_aside">
		<div class="aside-box">
			固定容器
		</div>
	</div>
	<div class="main">
		<div class="blog-content-box">
			自适应容器
		</div>
	</div>
</div>		
	</body>
</html>
