<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
<style>
.container{}
.mainColumn{
	overflow: hidden;	
}
	.mainColumnCard{
		background-color: #008000;
		height: 480px;
	}
.rightSideBar{
	float: left;
	width: 300px;
}
	.globalSideBar-category{
		background-color: #E1251B;
		height: 480px;
	}

</style>
<div class="container">
	<div class="rightSideBar">
		<div class="globalSideBar-category">SideBar</div>
	</div>
	<div class="mainColumn">
		<div class="mainColumnCard">mainColumn</div>
	</div>
	
	
</div>
	</body>
</html>
