<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		.居中
  a.元素的居中
     1.为元素设置宽度
     2.设置margin
     .tobar{
         width:980px;
         margin:0 auto;
     }
  b.文本在元素中居中
     1.设置元素的高度和行高为相同的值;
     p{height:20px;line-height:20px}

3.设置元素的垂直对齐方式:  https://www.xp.cn/css3/
     vertical-align: middle;
     baseline:默认值,将支持valign特性的对象的内容与基线对齐;
     middle:将支持valign特性的对象的内容与对象中部对齐;
     bottom:将支持valign特性的对象的文本与对象底端对齐;
     top:将支持valign特性的对象的内容与对象顶端对齐;
3.1设置或检索对象中内容的水平对齐方式：
    text-align:start;
    1.start：默认值，内容对齐开始边界;
    2.left：内容左对齐。
    3.center:内容居中对齐。
    4.right： 内容右对齐。

	</body>
</html>
