<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
<!--


盒子模型(box model)
	在网页设计中经常用到的CSS技术所使用的一种思维模型。一个盒模型包含了
padding（内边距）margin（外边距）border（边框）内容（content）也就是
元素本身的width,height。

1.content:内容                               
           内容区域设定：                          
           widht:宽度                        
           height:高度                       
           宽度和高度的设定可以是具体的数值（带单位）也可以是百分比设置;
           宽度和高度是设置内容的宽度和高度；不是整个盒子的宽度和高度; 
2.padding：
           内边距的设定用来控制盒子中装载的内容到盒子的边缘（边框）之间的距离；
           盒子的内边距占据的是盒子里面的空间，最小为0,不允许出现负值；
3.margin：
          外边距的设定用来控制盒子外围四周的距离，不属于盒子本身的范畴；
          外边距的主要用途是控制盒子的位置,所以可以出现负值；
4.border：
          大部分的元素对象在默认情况下是没有边框的；
          要设定边框必须同时设定三个要素：宽度，样式和色彩；
          border:red 1px solid;

5.复合属性:                       
           border-width:边框的宽度          
           border-style:边框的样式          
           border-color:边框的颜色          
      复合属性                      
           border-top-color:           
6.具有方向性的符合属性可以在一个声明中设置所以方向的定义;
  方向性复合属性的值的缩写方法：
      1个值 ：4个方向        margin：10px 所以的4个边距都是10px；
      2个值：上下/左右     margin：5px 10px 上下边距5px，左右边距10px；
      3个值：上/左右/下  margin：5px 10px 15px 上边距5px,左右边距10px,下边距15px;
      4个值：上/右/下/左 margin：5px 10px 15px 20px 上边距5px,右边距10px,下边距15px，右边距20px;
7.盒子模型的计算
      标准盒子尺寸计算
      盒子自身尺寸：              
         内容的宽高+两侧内边距+两侧边框  
      盒子在页面中占位尺寸：
         内容的宽高+两侧内边距+两侧边框+两侧的外边距
         
8. 当盒子的宽度和高度无法确认数值的时候怎么办？                      
    设置一个边框为30px,宽度为浏览器的50% 的盒子不能实现；             
     解决办法：框架盒子                                 
 9.框架盒子
          直接将宽|高属性设定为盒子自身的调整尺寸，如果带有内边距或边框，则通过缩小内容的区域来实现
     语法：box-sizing :盒子类型设置（css3）    
      说明： content-box ：设置盒子为标准盒子类型(默认) 尺寸=widht|height+padding+margin+border
        border-box：设置盒子为框架盒子；尺寸=width|height
         
         
15.盒子模型思维构建网页布局
   1.盒模型思维：
     1.通过css的siplay属性，可以使所有html标签对象都变身完美的盒子
     2.通过各种“盒子”相互嵌套、并列，实现界面的布局
   2.构建网页布局的思路和步骤
     1.使用盒子模型思维进行页面或板块的分析
     2.html--使用符合布局语义的标签进行结构化;
     3.css---控制标签的尺寸和定位;
       
         
         -->
<div style="border: 30px solid #FC5531; width: 50%;box-sizing: border-box;">边框为30px的盒子</div>

	</body>
</html>
